# -*- coding: utf-8 -*-
from {{python_package_import_name}} import get_{{python_package_import_name}}_version


def test_get_version():
    ver = get_{{python_package_import_name}}_version()
    assert ver.startswith("0.1")


if __name__ == "__main__":
    test_get_version()
